---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: crowdsec-bouncer-key
  namespace: ingress-nginx
spec:
  encryptedData:
    BOUNCER_KEY: AgAuMJ5sioljvS0At3EuNYnqrJDHCpoc1BaFxJ/i8Z6UevoHYJqcZUaKetRLH7zRi/cUZp7ex6VvOJ4M2H4qgeXBVgVpqh+sEBwN5n3tSbVkeHD+mXY/67hRHaHLXv+NUAAeJunP+fr1Q0q2Fu4gj6dy8vxPJ77GcV7huIAp6SRZdsyL5HNV11CrNqSYONtlbV8IPHE4zKqchYJhxIfnmzg+JSWYwN2XnVONPrNuOtTSfQWEs4PV5379jBuXlIXMs0G2eO6wbDYgh+B9lsojwUJNoM6y37aaTaTUrZ1ZXhSvh2NyL80qn+q673/kDDnCitGvWTDfS+L5U74TtYqEISn4MOoZzIDM7gGATxg53xGBgnViVP8sP6dYZ/BIre7fJ5e6jtkEVUJMVaCH+OEk7CTGWTr2k0rPoBfqBMFct/SO6nBLVaEdCEbwPRq4u3V/ceypvO3aL71fkE6fckTtlWBa4Qlg0EZhdDB86HYSazTyOvpq2U6ZYhnRdEHH9qU8spymIGGJ+nMhTIh1nRQWN4nkf6+z5ZvTiXnhrpWYD7EmaeXwfHl92pUBETDvthJFCXe7mLmSAl5SVCuxEaQcFW+JN9/jnIjUWqDvNj7RJTBcARuivfp3ITTLEFtRj+68lqcePVaOfLPbK07vpjKCLEL4FqOc3WdKRWCNpAitVhxgbnaqNiHh8dIRL9nDBa1kwgG95xwQ2Oi3s3Ptz9RF1XFUiTFeLsZMwSXqpzVHOhfjm/EVvTwxrpR5OcXb
  template:
    metadata:
      name: crowdsec-bouncer-key
      namespace: ingress-nginx
